body {background-color: #e6f7ff;}

.toppad{
    margin-bottom: 24mm;
}

.pagetitle {
   position: fixed;
   top:10px;
   right:10px;
   font-size: 250%;
   color: #47476b;
   font-family: sans-serif;
   font-weight: bold;
   opacity: 0.5;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

.allcent{
    text-align: center;
}

.formin {
  align: center;
  display: block;
  width: 100%;
  font-size: 110%;
  padding: 6px 6px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  -webkit-appearance: textfield;
  text-align: center;
}
.daybuts {
  align: center;
  font-size: 100%;
  font-family: sans-serif;
  width: 25%;
  padding: 0px 0px;
  margin-top: 0;
  margin-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}



/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5%; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 240%;
  font-family: sans-serif;
  color: #818181;
  display: block;
  transition: 0.3s;
  line-height: 2.0;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

.hamburger{
  width: 20mm;
  height: 15mm;
  margin-bottom: 5%;
  position: fixed;
  top:5px;
  left:5px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  padding-top: 0;
  top: -25px;
  right: 25px;
  font-size: 400%;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
*/
