<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
</head>

<body>
    <script lang="javascript">const sidebar = new Sidebar({menu_options: {{menu_options|safe}}});</script>
    
    <div class="pagetitle"> add new </div>

   <div>
       <form action="{{url_for('add_new')}}" method="POST">
        <textarea name="textbox1" placeholder="Enter a comment"></textarea>
        <input type="submit" value="Post comment">
    </form>
    </div> 

</body>
