<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

<body onload="setday()">
    <script lang="javascript">const sidebar = new Sidebar({menu_options: {{menu_options|safe}}});</script>

    <script lang="javascript">
        function setday(inc=0) {
            var d = new Date();
            d.setDate(d.getDate() + inc);
            document.getElementById('datepicker').valueAsDate = d;
        }
    </script>
    
    <div class="pagetitle"> add new </div>
    
   <div class="allcent">
       <form id="formin" action="{{url_for('add_new')}}" method="POST">

        <button class="daybuts" type="button" onclick="setday(-1)">yest</button>
        <button class="daybuts" type="button" onclick="setday(0)">today</button>
        <button class="daybuts" type="button" onclick="setday(1)">tmrw</button>
        <input class="formin" type="date" name="date" id="datepicker" value="2021-07-01">

        <!--label for="pid">Patient ID</label-->
        <input class="formin" type="text" id="patient_id" name="patient_id" placeholder="patient id ...">
        
        <input class="formin" type="text" name="diagnosis" placeholder="diagnosis ...">
        
        <input class="formin" type="text" name="procedures" placeholder="procedures ...">

        <textarea class="formin" name="comment" rows=4 placeholder="comment ..."></textarea>

        <input class="formin" type="submit" value="Submit">

    </form>
    </div> 

</body>
