<!-- python3 -m http.server -->

<!DOCTYPE html>
<meta charset="utf-8">
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- import custom plot classes, styles I made -->
<link rel="stylesheet" href="style.css" charset="utf-8">
<script src="plotting.js"></script>

<!-- Create a div where the graph will take place -->
<div id="div0"></div>
<button class="data">load data</button>
<button class="r">change r</button>

<script lang="javascript">

    const plot = new Plot({
        element: document.querySelector('#div0'),
        data: null
    });

    d3.selectAll('button.r').on('click', function(){
            const r = Math.random()*10;
            plot.setR(r);
    });

    d3.csv('temp_us_data.csv', function(csv_data) {
        d3.selectAll('button.data').on('click', () => {plot.setData(csv_data)});
    });


    d3.select(window).on('resize', () => plot.refresh() );

</script>
