<!doctype html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="{{ url_for('static', filename='js/plotting.js') }}"></script>
    <script src="{{ url_for('static', filename='js/util.js') }}"></script>
</head>

<body>
    <script lang="javascript">const sidebar = new Sidebar({menu_options: {{menu_options|safe}}});</script>

    <div class="pagetitle"> plots </div>

    <!-- plots -->
    <div id="div_main"></div>

    <script lang="javascript">
        yvar = '{{yvar}}'

        const plot = new Plot({
            element: document.querySelector('#div_main'),
            data: null,
            xvar: 'date',
            yvar: `${yvar}`
        });

        d3.csv('{{data_url}}', function(csv_data) {
            plot.setData(csv_data);
        });
    </script>


</body>
